<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.contactMechType.home.viewLabel">Contact Mech Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.contactMechType.detail.title">Contact Mech Type</span> {{contactMechType.id}}
        </p-header>
        <jhi-contact-mech-type-view [item]="contactMechType" mode="item">
        </jhi-contact-mech-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-mech-type', contactMechType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
