<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.taxType.home.viewLabel">Tax Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.taxType.detail.title">Tax Type</span> {{taxType.id}}
        </p-header>
        <jhi-tax-type-view [item]="taxType" mode="item">
        </jhi-tax-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tax-type', taxType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
