<div [hidden]="hiddenHeader">
  <ng-container *ngTemplateOutlet="headerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'edit'">
    <div [hidden]="hiddenDefaultEdit">
        <div class="form-group" [hidden]="!item.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.period.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="item.code"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.period.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="item.description"  [disabled]="readOnly()"/>
        </div>

        <div class="form-group">
            <label jhiTranslate="losgwApp.period.periodType" for="field_periodType">Period Type</label>
            <select class="form-control" id="field_periodType" name="periodType" [(ngModel)]="item.periodTypeId" [disabled]="periodTypeId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="periodTypeOption.id" *ngFor="let periodTypeOption of periodtypes; trackBy: trackPeriodTypeById">{{periodTypeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="losgwApp.period.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="item.parentId" [disabled]="parentId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="periodOption.id" *ngFor="let periodOption of periods; trackBy: trackPeriodById">{{periodOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="losgwApp.period.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="item.ownerId" [disabled]="ownerId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="partyOption.id" *ngFor="let partyOption of parties; trackBy: trackPartyById">{{partyOption.name}}</option>
            </select>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="editViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <div [hidden]="hiddenDefaultCard">
        <p-card title="{{item.id}}"
                subtitle="Subtitle"
                styleClass="col-sm-4">
            <p-header>
            </p-header>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </div>
            <p-footer>
                <button pButton type="button"
                        label="Save"
                        icon="pi pi-check"
                        style="margin-right: .25em">
                </button>
                <button pButton type="button"
                        label="Cancel"
                        icon="pi pi-times"
                        class="ui-button-secondary">
                </button>
            </p-footer>
        </p-card>
    </div>
    <ng-container *ngTemplateOutlet="cardViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
</ng-container>
<div [hidden]="hiddenFooter">
  <ng-container *ngTemplateOutlet="footerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
