<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.period.home.viewLabel">Periods</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.period.detail.title">Period</span> {{period.id}}
        </p-header>
        <jhi-period-view [item]="period" mode="item">
        </jhi-period-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/period', period.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
