<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.workType.home.viewLabel">Work Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.workType.detail.title">Work Type</span> {{workType.id}}
        </p-header>
        <jhi-work-type-view [item]="workType" mode="item">
        </jhi-work-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/work-type', workType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
