<div class="page-view" *ngIf="(item$ | async) as item">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" style="margin-bottom: 30px;">
        <p-panel>
            <ng-template pTemplate="header">
                <h5><span jhiTranslate="losgwApp.roleInternal.home.createOrEditLabel">Role Internals</span></h5>
            </ng-template>
            <ng-template pTemplate="icons">
                <!-- {{'global.field.id' | translate}} : {{roleInternal.id}} -->
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn" (click)="print()" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Print current data">
                            <span><fa-icon icon="print"></fa-icon> &nbsp;{{'entity.action.print' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" (click)="save()" href="javascript:void(0)" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Back and save current data" *ngIf="!readOnly()">
                            <span><fa-icon icon="save"></fa-icon> &nbsp;{{'entity.action.save' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" (click)="previousState()" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Back, cancel save">
                            <span><fa-icon icon="arrow-left"></fa-icon> &nbsp;{{'entity.action.back' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </ng-template>
            <div class="card-deck" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-block">
                        <div>
                            <div class="form-group" [hidden]="!item.id">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.roleInternal.internalId" for="field_internalId">Internal Id</label>
                                <input type="text" class="form-control" name="internalId" id="field_internalId"
                                    [(ngModel)]="item.internalId" [disabled]="readOnly()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.roleInternal.costCenter" for="field_costCenter">Cost Center</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <p-checkbox
                                            name="input_costCenter"
                                            label="{{'losgwApp.roleInternal.costCenter'| translate}}"
                                            [(ngModel)]="item.costCenter" [binary]="true"
                                            [disabled]="readOnly()">
                                        </p-checkbox>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.roleInternal.fromDate" for="field_fromDate">From Date</label>
                                <div class="input-group">
                                    <p-calendar inputId="field_fromDate" name="input_fromDate" [(ngModel)]="item.fromDate"
                                        dateFormat="dd-mm-yy" [showTime]="false" hourFormat="24" [showSeconds]="true"
                                        [showIcon]="true" [hideOnDateTimeSelect]="true" [disabled]="readOnly()"></p-calendar>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.roleInternal.thruDate" for="field_thruDate">Thru Date</label>
                                <div class="input-group">
                                    <p-calendar inputId="field_thruDate" name="input_thruDate" [(ngModel)]="item.thruDate"
                                        dateFormat="dd-mm-yy" [showTime]="false" hourFormat="24" [showSeconds]="true"
                                        [showIcon]="true" [hideOnDateTimeSelect]="true" [disabled]="readOnly()"></p-calendar>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <label jhiTranslate="losgwApp.roleInternal.role" for="field_role">Role</label>
                                <select class="form-control" id="field_role" name="role" [(ngModel)]="item.roleId" [disabled]="roleId !== undefined"  [disabled]="readOnly()">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="roleTypeOption.id" *ngFor="let roleTypeOption of roletypes; trackBy: trackRoleTypeById">{{roleTypeOption.description}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label jhiTranslate="losgwApp.roleInternal.party" for="field_party">Party</label>
                                <select class="form-control" id="field_party" name="party" [(ngModel)]="item.partyId" [disabled]="partyId !== undefined"  [disabled]="readOnly()">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="partyOption.id" *ngFor="let partyOption of parties; trackBy: trackPartyById">{{partyOption.name}}</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </p-panel>
    </form>
</div>
