<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.disbursement.home.viewLabel">Disbursements</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.disbursement.detail.title">Disbursement</span> {{disbursement.id}}
        </p-header>
        <jhi-disbursement-view [item]="disbursement" mode="item">
        </jhi-disbursement-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disbursement', disbursement.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
