<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.gLResourceType.home.viewLabel">GL Resource Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.gLResourceType.detail.title">GL Resource Type</span> {{gLResourceType.id}}
        </p-header>
        <jhi-gl-resource-type-view [item]="gLResourceType" mode="item">
        </jhi-gl-resource-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gl-resource-type', gLResourceType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
