<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.serviceProduct.home.viewLabel">Service Products</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.serviceProduct.detail.title">Service Product</span> {{serviceProduct.id}}
        </p-header>
        <jhi-service-product-view [item]="serviceProduct" mode="item">
        </jhi-service-product-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-product', serviceProduct.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
