<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.partyPaymentPref.home.viewLabel">Party Payment Prefs</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.partyPaymentPref.detail.title">Party Payment Pref</span> {{partyPaymentPref.id}}
        </p-header>
        <jhi-party-payment-pref-view [item]="partyPaymentPref" mode="item">
        </jhi-party-payment-pref-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party-payment-pref', partyPaymentPref.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
