<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.loanApplication.home.viewLabel">Loan Applications</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.loanApplication.detail.title">Loan Application</span> {{loanApplication.id}}
        </p-header>
        <jhi-loan-application-view [item]="loanApplication" mode="item">
        </jhi-loan-application-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/loan-application', loanApplication.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
