<div class="page-view" *ngIf="(item$ | async) as item">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" style="margin-bottom: 30px;">
        <p-panel>
            <ng-template pTemplate="header">
                <h5><span jhiTranslate="losgwApp.stateBoundary.home.createOrEditLabel">State Boundaries</span></h5>
            </ng-template>
            <ng-template pTemplate="icons">
                <!-- {{'global.field.id' | translate}} : {{stateBoundary.id}} -->
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn" (click)="save()" href="javascript:void(0)" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Back and save current data" *ngIf="!readOnly()">
                            <span><fa-icon icon="save"></fa-icon> &nbsp;{{'entity.action.save' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" (click)="previousState()" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Back, cancel save">
                            <span><fa-icon icon="arrow-left"></fa-icon> &nbsp;{{'entity.action.back' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </ng-template>
            <div class="card-deck" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-block">
                        <div>
                            <div class="form-group" [hidden]="!item.id">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.code" for="field_code">Code</label>
                                <input type="text" class="form-control" name="code" id="field_code"
                                    [(ngModel)]="item.code" [disabled]="readOnly()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.description" for="field_description">Description</label>
                                <input type="text" class="form-control" name="description" id="field_description"
                                    [(ngModel)]="item.description" [disabled]="readOnly()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.abbreviation" for="field_abbreviation">Abbreviation</label>
                                <input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
                                    [(ngModel)]="item.abbreviation" [disabled]="readOnly()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.postalCode" for="field_postalCode">Postal Code</label>
                                <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                                    [(ngModel)]="item.postalCode" [disabled]="readOnly()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.dagriCode" for="field_dagriCode">Dagri Code</label>
                                <input type="text" class="form-control" name="dagriCode" id="field_dagriCode"
                                    [(ngModel)]="item.dagriCode" [disabled]="readOnly()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.dagriName" for="field_dagriName">Dagri Name</label>
                                <input type="text" class="form-control" name="dagriName" id="field_dagriName"
                                    [(ngModel)]="item.dagriName" [disabled]="readOnly()"/>
                            </div>
                    
                            <div class="form-group">
                                <label jhiTranslate="losgwApp.stateBoundary.boundaryType" for="field_boundaryType">Boundary Type</label>
                                <select class="form-control" id="field_boundaryType" name="boundaryType" [(ngModel)]="item.boundaryTypeId" [disabled]="boundaryTypeId !== undefined"  [disabled]="readOnly()">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="geoBoundaryTypeOption.id" *ngFor="let geoBoundaryTypeOption of geoboundarytypes; trackBy: trackGeoBoundaryTypeById">{{geoBoundaryTypeOption.description}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label jhiTranslate="losgwApp.stateBoundary.parent" for="field_parent">Parent</label>
                                <select class="form-control" id="field_parent" name="parent" [(ngModel)]="item.parentId" [disabled]="parentId !== undefined"  [disabled]="readOnly()">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="stateBoundaryOption.id" *ngFor="let stateBoundaryOption of stateboundaries; trackBy: trackStateBoundaryById">{{stateBoundaryOption.id}}</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </p-panel>
    </form>
</div>
