<div [hidden]="hiddenHeader">
  <ng-container *ngTemplateOutlet="headerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'edit'">
    <div [hidden]="hiddenDefaultEdit">
        <div class="form-group" [hidden]="!item.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="item.code"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="item.description"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.abbreviation" for="field_abbreviation">Abbreviation</label>
            <input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
                [(ngModel)]="item.abbreviation"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.postalCode" for="field_postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                [(ngModel)]="item.postalCode"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.dagriCode" for="field_dagriCode">Dagri Code</label>
            <input type="text" class="form-control" name="dagriCode" id="field_dagriCode"
                [(ngModel)]="item.dagriCode"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.stateBoundary.dagriName" for="field_dagriName">Dagri Name</label>
            <input type="text" class="form-control" name="dagriName" id="field_dagriName"
                [(ngModel)]="item.dagriName"  [disabled]="readOnly()"/>
        </div>

        <div class="form-group">
            <label jhiTranslate="losgwApp.stateBoundary.boundaryType" for="field_boundaryType">Boundary Type</label>
            <select class="form-control" id="field_boundaryType" name="boundaryType" [(ngModel)]="item.boundaryTypeId" [disabled]="boundaryTypeId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="geoBoundaryTypeOption.id" *ngFor="let geoBoundaryTypeOption of geoboundarytypes; trackBy: trackGeoBoundaryTypeById">{{geoBoundaryTypeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="losgwApp.stateBoundary.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="item.parentId" [disabled]="parentId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="stateBoundaryOption.id" *ngFor="let stateBoundaryOption of stateboundaries; trackBy: trackStateBoundaryById">{{stateBoundaryOption.id}}</option>
            </select>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="editViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <div [hidden]="hiddenDefaultCard">
        <p-card title="{{item.id}}"
                subtitle="Subtitle"
                styleClass="col-sm-4">
            <p-header>
            </p-header>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </div>
            <p-footer>
                <button pButton type="button"
                        label="Save"
                        icon="pi pi-check"
                        style="margin-right: .25em">
                </button>
                <button pButton type="button"
                        label="Cancel"
                        icon="pi pi-times"
                        class="ui-button-secondary">
                </button>
            </p-footer>
        </p-card>
    </div>
    <ng-container *ngTemplateOutlet="cardViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
</ng-container>
<div [hidden]="hiddenFooter">
  <ng-container *ngTemplateOutlet="footerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
