<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.stateBoundary.home.viewLabel">State Boundaries</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.stateBoundary.detail.title">State Boundary</span> {{stateBoundary.id}}
        </p-header>
        <jhi-state-boundary-view [item]="stateBoundary" mode="item">
        </jhi-state-boundary-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/state-boundary', stateBoundary.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
