<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.accountType.home.viewLabel">Account Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.accountType.detail.title">Account Type</span> {{accountType.id}}
        </p-header>
        <jhi-account-type-view [item]="accountType" mode="item">
        </jhi-account-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-type', accountType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
