<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.productTypeFinancialSetting.home.viewLabel">Product Type Financial Settings</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.productTypeFinancialSetting.detail.title">Product Type Financial Setting</span> {{productTypeFinancialSetting.id}}
        </p-header>
        <jhi-product-type-financial-setting-view [item]="productTypeFinancialSetting" mode="item">
        </jhi-product-type-financial-setting-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-type-financial-setting', productTypeFinancialSetting.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
