<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.funcSettingTemplate.home.viewLabel">Func Setting Templates</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.funcSettingTemplate.detail.title">Func Setting Template</span> {{funcSettingTemplate.id}}
        </p-header>
        <jhi-func-setting-template-view [item]="funcSettingTemplate" mode="item">
        </jhi-func-setting-template-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/func-setting-template', funcSettingTemplate.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
