<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.applicationType.home.viewLabel">Application Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.applicationType.detail.title">Application Type</span> {{applicationType.id}}
        </p-header>
        <jhi-application-type-view [item]="applicationType" mode="item">
        </jhi-application-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-type', applicationType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
