<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.identificationType.home.viewLabel">Identification Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.identificationType.detail.title">Identification Type</span> {{identificationType.id}}
        </p-header>
        <jhi-identification-type-view [item]="identificationType" mode="item">
        </jhi-identification-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/identification-type', identificationType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
