<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.productCategory.home.viewLabel">Product Categories</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.productCategory.detail.title">Product Category</span> {{productCategory.id}}
        </p-header>
        <jhi-product-category-view [item]="productCategory" mode="item">
        </jhi-product-category-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-category', productCategory.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
