<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.billingTerm.home.viewLabel">Billing Terms</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.billingTerm.detail.title">Billing Term</span> {{billingTerm.id}}
        </p-header>
        <jhi-billing-term-view [item]="billingTerm" mode="item">
        </jhi-billing-term-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-term', billingTerm.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
