<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.uom.home.viewLabel">Uoms</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.uom.detail.title">Uom</span> {{uom.id}}
        </p-header>
        <jhi-uom-view [item]="uom" mode="item">
        </jhi-uom-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uom', uom.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
