<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.roleType.home.viewLabel">Role Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.roleType.detail.title">Role Type</span> {{roleType.id}}
        </p-header>
        <jhi-role-type-view [item]="roleType" mode="item">
        </jhi-role-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/role-type', roleType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
