<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.productConfig.home.title">Product Configs</span>
    </h5>
    <p-table
        [value]="productConfigs"
        dataKey="id"
        [paginator]="true"
        [rows]="20"
        [rowsPerPageOptions]="rowsPerPage"
        [first]="first"
        [totalRecords]="totalItems"
        [loading]="loading"
        [rowHover]="true"
        [lazy]="true"
        [rowTrackBy]="trackId"
        [responsive]="true"
        [stateKey]="'productConfigs_grid_state'"
        (onLazyLoad)="loadDataLazy($event)"
        (onPage)="pageSizeChanged($event)">

        <ng-template pTemplate="caption">
            <ul class="nav justify-content-end">
                <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
                    <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
                        <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
                    </a>
                </li>
            </ul>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 60px; text-align: center;"><span jhiTranslate="global.field.sequence">No</span></th>
                <th style="width: 130px; text-align: center;"><span jhiTranslate="global.field.id">ID</span></th>
                <th style="text-align: center; width: 60px;"><span jhiTranslate="losgwApp.productConfig.expense">Expense</span></th>
                <th style="text-align: center; width: 60px;"><span jhiTranslate="losgwApp.productConfig.sold">Sold</span></th>
                <th style="text-align: center; width: 60px;"><span jhiTranslate="losgwApp.productConfig.purchased">Purchased</span></th>
                <th style="text-align: center; width: 60px;"><span jhiTranslate="losgwApp.productConfig.traceAbility">Trace Ability</span></th>
                <th style="text-align: center; width: 60px;"><span jhiTranslate="losgwApp.productConfig.taxable">Taxable</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.productConfig.volume">Volume</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.productConfig.weight">Weight</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.productConfig.uom">Uom</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.productConfig.purchaseTax">Purchase Tax</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.productConfig.salesTax">Sales Tax</span></th>
                <th style="width: 140px; text-align: center;"><span jhiTranslate="global.field.action">Action</span></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: right;">{{rowIndex + 1}}</td>
                <td style="text-align: left; width: 120px;">{{rowData.id}}</td>
                <td style="text-align: center;"><fa-icon [hidden]="!rowData.expense" icon="check"></fa-icon></td>
                <td style="text-align: center;"><fa-icon [hidden]="!rowData.sold" icon="check"></fa-icon></td>
                <td style="text-align: center;"><fa-icon [hidden]="!rowData.purchased" icon="check"></fa-icon></td>
                <td style="text-align: center;"><fa-icon [hidden]="!rowData.traceAbility" icon="check"></fa-icon></td>
                <td style="text-align: center;"><fa-icon [hidden]="!rowData.taxable" icon="check"></fa-icon></td>
                <td style="text-align: right;">{{rowData.volume | number: '.0-2'}}</td>
                <td style="text-align: right;">{{rowData.weight | number: '.0-2'}}</td>
                <td>
                    <div *ngIf="rowData.uomId">
                        <a [routerLink]="['../uom', rowData.uomId , 'view' ]" >{{rowData.uomAbbreviation}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.purchaseTaxId">
                        <a [routerLink]="['../tax-type', rowData.purchaseTaxId , 'view' ]" >{{rowData.purchaseTaxDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.salesTaxId">
                        <a [routerLink]="['../tax-type', rowData.salesTaxId , 'view' ]" >{{rowData.salesTaxDescription}}</a>
                    </div>
                </td>
                <td style="text-align: center;">
                    <button pButton type="submit"
                        [routerLink]="['/product-config', rowData.id, 'view' ]"
                        class="flat-button">
                        <fa-icon icon="eye"></fa-icon>
                    </button>
                    <button pButton type="submit"
                        [routerLink]="['/product-config', rowData.id, 'edit']"
                        class="flat-button">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button"
                        (click)="deleteItem(rowData.id)"
                        class="flat-button">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
