<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.finAccountTrans.home.viewLabel">Fin Account Trans</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.finAccountTrans.detail.title">Fin Account Trans</span> {{finAccountTrans.id}}
        </p-header>
        <jhi-fin-account-trans-view [item]="finAccountTrans" mode="item">
        </jhi-fin-account-trans-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fin-account-trans', finAccountTrans.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
