<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.billingItem.home.title">Billing Items</span>
    </h5>
    <p-table
        [value]="billingItems"
        dataKey="id"
        [paginator]="true"
        [rows]="20"
        [rowsPerPageOptions]="rowsPerPage"
        [first]="first"
        [totalRecords]="totalItems"
        [loading]="loading"
        [rowHover]="true"
        [lazy]="true"
        [rowTrackBy]="trackId"
        [responsive]="true"
        [stateKey]="'billingItems_grid_state'"
        (onLazyLoad)="loadDataLazy($event)"
        (onPage)="pageSizeChanged($event)">

        <ng-template pTemplate="caption">
            <ul class="nav justify-content-end">
                <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
                    <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
                        <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
                    </a>
                </li>
            </ul>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 60px; text-align: center;"><span jhiTranslate="global.field.sequence">No</span></th>
                <th style="width: 130px; text-align: center;"><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="losgwApp.billingItem.itemDescription">Item Description</span></th>
                <th style="text-align: center; width: 60px;"><span jhiTranslate="losgwApp.billingItem.taxable">Taxable</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.billingItem.qty">Qty</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.billingItem.unitPrice">Unit Price</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.billingItem.unitCost">Unit Cost</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.billingItem.totalAmount">Total Amount</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.billingItem.sequence">Sequence</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.billingItem.billing">Billing</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.billingItem.itemType">Item Type</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.billingItem.product">Product</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.billingItem.feature">Feature</span></th>
                <th style="width: 140px; text-align: center;"><span jhiTranslate="global.field.action">Action</span></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: right;">{{rowIndex + 1}}</td>
                <td style="text-align: left; width: 120px;">{{rowData.id}}</td>
                <td>{{rowData.itemDescription}}</td>
                <td style="text-align: center;"><fa-icon [hidden]="!rowData.taxable" icon="check"></fa-icon></td>
                <td style="text-align: right;">{{rowData.qty | number: '.0-2'}}</td>
                <td style="text-align: right;">{{rowData.unitPrice | number}}</td>
                <td style="text-align: right;">{{rowData.unitCost | number}}</td>
                <td style="text-align: right;">{{rowData.totalAmount | number}}</td>
                <td style="text-align: right;">{{rowData.sequence | number}}</td>
                <td>
                    <div *ngIf="rowData.billingId">
                        <a [routerLink]="['../billing', rowData.billingId , 'view' ]" >{{rowData.billingBillingNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.itemTypeId">
                        <a [routerLink]="['../billing-item-type', rowData.itemTypeId , 'view' ]" >{{rowData.itemTypeDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.productId">
                        <a [routerLink]="['../product', rowData.productId , 'view' ]" >{{rowData.productName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.featureId">
                        <a [routerLink]="['../feature', rowData.featureId , 'view' ]" >{{rowData.featureDescription}}</a>
                    </div>
                </td>
                <td style="text-align: center;">
                    <button pButton type="submit"
                        [routerLink]="['/billing-item', rowData.id, 'view' ]"
                        class="flat-button">
                        <fa-icon icon="eye"></fa-icon>
                    </button>
                    <button pButton type="submit"
                        [routerLink]="['/billing-item', rowData.id, 'edit']"
                        class="flat-button">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button"
                        (click)="deleteItem(rowData.id)"
                        class="flat-button">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
