<div [hidden]="hiddenHeader">
  <ng-container *ngTemplateOutlet="headerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'edit'">
    <div [hidden]="hiddenDefaultEdit">
        <div class="form-group" [hidden]="!item.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.itemDescription" for="field_itemDescription">Item Description</label>
            <input type="text" class="form-control" name="itemDescription" id="field_itemDescription"
                [(ngModel)]="item.itemDescription"  [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.taxable" for="field_taxable">Taxable</label>
            <div class="form-check">
                <label class="form-check-label">
                    <p-checkbox
                        name="input_taxable"
                        label="{{'losgwApp.billingItem.taxable'| translate}}"
                        [(ngModel)]="item.taxable" [binary]="true"
                        [disabled]="readOnly()">
                    </p-checkbox>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.qty" for="field_qty">Qty</label>
            <input currencyMask class="form-control" name="qty" id="field_qty"
                [(ngModel)]="item.qty"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 4 }"
                [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.unitPrice" for="field_unitPrice">Unit Price</label>
            <input currencyMask class="form-control" name="unitPrice" id="field_unitPrice"
                [(ngModel)]="item.unitPrice"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"
                [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.unitCost" for="field_unitCost">Unit Cost</label>
            <input currencyMask class="form-control" name="unitCost" id="field_unitCost"
                [(ngModel)]="item.unitCost"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"
                [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.totalAmount" for="field_totalAmount">Total Amount</label>
            <input currencyMask class="form-control" name="totalAmount" id="field_totalAmount"
                [(ngModel)]="item.totalAmount"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"
                [disabled]="readOnly()"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="losgwApp.billingItem.sequence" for="field_sequence">Sequence</label>
            <input currencyMask class="form-control" name="sequence" id="field_sequence"
                [(ngModel)]="item.sequence"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"
                [disabled]="readOnly()"/>
        </div>

        <div class="form-group">
            <label jhiTranslate="losgwApp.billingItem.billing" for="field_billing">Billing</label>
            <select class="form-control" id="field_billing" name="billing" [(ngModel)]="item.billingId" [disabled]="billingId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="billingOption.id" *ngFor="let billingOption of billings; trackBy: trackBillingById">{{billingOption.billingNumber}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="losgwApp.billingItem.itemType" for="field_itemType">Item Type</label>
            <select class="form-control" id="field_itemType" name="itemType" [(ngModel)]="item.itemTypeId" [disabled]="itemTypeId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="billingItemTypeOption.id" *ngFor="let billingItemTypeOption of billingitemtypes; trackBy: trackBillingItemTypeById">{{billingItemTypeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="losgwApp.billingItem.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="item.productId" [disabled]="productId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="losgwApp.billingItem.feature" for="field_feature">Feature</label>
            <select class="form-control" id="field_feature" name="feature" [(ngModel)]="item.featureId" [disabled]="featureId !== undefined"  [disabled]="readOnly()">
                <option [ngValue]="null"></option>
                <option [ngValue]="featureOption.id" *ngFor="let featureOption of features; trackBy: trackFeatureById">{{featureOption.description}}</option>
            </select>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="editViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <div [hidden]="hiddenDefaultCard">
        <p-card title="{{item.id}}"
                subtitle="Subtitle"
                styleClass="col-sm-4">
            <p-header>
            </p-header>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </div>
            <p-footer>
                <button pButton type="button"
                        label="Save"
                        icon="pi pi-check"
                        style="margin-right: .25em">
                </button>
                <button pButton type="button"
                        label="Cancel"
                        icon="pi pi-times"
                        class="ui-button-secondary">
                </button>
            </p-footer>
        </p-card>
    </div>
    <ng-container *ngTemplateOutlet="cardViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
</ng-container>
<div [hidden]="hiddenFooter">
  <ng-container *ngTemplateOutlet="footerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
