<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.productType.home.viewLabel">Product Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.productType.detail.title">Product Type</span> {{productType.id}}
        </p-header>
        <jhi-product-type-view [item]="productType" mode="item">
        </jhi-product-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-type', productType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
