<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.paymentGLAccountTypeMap.home.viewLabel">Payment GL Account Type Maps</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.paymentGLAccountTypeMap.detail.title">Payment GL Account Type Map</span> {{paymentGLAccountTypeMap.id}}
        </p-header>
        <jhi-payment-gl-account-type-map-view [item]="paymentGLAccountTypeMap" mode="item">
        </jhi-payment-gl-account-type-map-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-gl-account-type-map', paymentGLAccountTypeMap.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
