<p-table
    [value]="items"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="rowsPerPage"
    [first]="first"
    [totalRecords]="totalItems"
    [rowHover]="true"
    [responsive]="true">

    <ng-template pTemplate="caption">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn" (click)="addItem()" tooltip="Add new Data">
                    <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
                </a>
            </li>
        </ul>
        <form name="searchForm" class="form-inline" [hidden]="!canSearch">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                    name="currentSearch" placeholder="{{ 'losgwApp.partyClassification.home.search' | translate }}">
                <button class="input-group-addon btn btn-info flat-style-button" (click)="search(currentSearch)" *ngIf="currentSearch">
                    <span><fa-icon icon="search"></fa-icon></span>
                </button>
                <button class="input-group-addon btn btn-danger flat-style-button" (click)="clear()" *ngIf="currentSearch">
                    <span><fa-icon icon="times"></fa-icon></span>
                </button>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 60px; text-align: center;"><span jhiTranslate="global.field.sequence">No</span></th>
            <th style="width: 130px; text-align: center;"><span jhiTranslate="global.field.id">ID</span></th>
            <th style="text-align: center; width: 150px;"><span jhiTranslate="losgwApp.partyClassification.fromDate">From Date</span></th>
            <th style="text-align: center; width: 150px;"><span jhiTranslate="losgwApp.partyClassification.thruDate">Thru Date</span></th>
            <th style="text-align: left;"><span jhiTranslate="losgwApp.partyClassification.category">Category</span></th>
            <th style="text-align: left;"><span jhiTranslate="losgwApp.partyClassification.party">Party</span></th>
            <th style="width: 120px; text-align: center;"><span jhiTranslate="global.field.action">Action</span></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
            <td style="text-align: right;">{{rowIndex + 1}}</td>
            <td style="text-align: left; width: 120px;">{{rowData.id}}</td>
            <td style="text-align: center;">{{rowData.fromDate | date:'dd-MM-yyyy HH:mm'}}</td>
            <td style="text-align: center;">{{rowData.thruDate | date:'dd-MM-yyyy HH:mm'}}</td>
            <td>
                <div *ngIf="rowData.categoryId">
                    <a [routerLink]="['/party-category', rowData.categoryId , 'view' ]" >{{rowData.categoryDescription}}</a>
                </div>
            </td>
            <td>
                <div *ngIf="rowData.partyId">
                    <a [routerLink]="['/party', rowData.partyId , 'view' ]" >{{rowData.partyId}}</a>
                </div>
            </td>
            <td style="text-align: center;">
                <button pButton type="button"
                    (click)="editItem(rowData)"
                    class="flat-button">
                    <fa-icon icon="pencil-alt"></fa-icon>
                </button>
                <button pButton type="button"
                    (click)="deleteItem(rowData)"
                    class="flat-button">
                    <fa-icon icon="trash-alt"></fa-icon>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Edit Item" [(visible)]="visibleEdit" [modal]="true" [style]="{width: '40vw'}">
    <jhi-party-classification-view [item]="selectedItem" mode="edit" *ngIf="visibleEdit"></jhi-party-classification-view>
    <p-footer>
        <div style="text-align: center;">
            <button pButton type="button"
                (click)="hideChild()"
                label="Save" icon="pi pi-check" class="p-button-warning" badge="8" badgeClass="p-badge-info">
            </button>
        </div>
    </p-footer>
</p-dialog>


<p-dialog header="Add Item" [(visible)]="visibleAdd" [modal]="true" [style]="{width: '40vw'}">
    <jhi-party-classification-view [item]="selectedItem" mode="edit" *ngIf="visibleAdd"></jhi-party-classification-view>
    <p-footer>
        <div style="text-align: center;">
            <button pButton type="button"
                (click)="hideChild()"
                label="Save" icon="pi pi-check" class="p-button-warning" badge="8" badgeClass="p-badge-info">
            </button>
        </div>
    </p-footer>
</p-dialog>
