<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.baseAccount.home.viewLabel">Base Accounts</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.baseAccount.detail.title">Base Account</span> {{baseAccount.id}}
        </p-header>
        <jhi-base-account-view [item]="baseAccount" mode="item">
        </jhi-base-account-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/base-account', baseAccount.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
