<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.settlementType.home.viewLabel">Settlement Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.settlementType.detail.title">Settlement Type</span> {{settlementType.id}}
        </p-header>
        <jhi-settlement-type-view [item]="settlementType" mode="item">
        </jhi-settlement-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/settlement-type', settlementType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
