div {
  background-color: #198773;
  padding: 0;
  height: 65px;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}

a {
  margin-right: 20px;
}
