<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.accountTransType.home.viewLabel">Account Trans Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.accountTransType.detail.title">Account Trans Type</span> {{accountTransType.id}}
        </p-header>
        <jhi-account-trans-type-view [item]="accountTransType" mode="item">
        </jhi-account-trans-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-trans-type', accountTransType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
