<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.finAccount.home.viewLabel">Fin Accounts</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.finAccount.detail.title">Fin Account</span> {{finAccount.id}}
        </p-header>
        <jhi-fin-account-view [item]="finAccount" mode="item">
        </jhi-fin-account-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fin-account', finAccount.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
