<div class="page-view" *ngIf="(item$ | async) as item">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" style="margin-bottom: 30px;">
        <p-panel>
            <ng-template pTemplate="header">
                <h5><span jhiTranslate="losgwApp.partyRole.home.createOrEditLabel">Party Roles</span></h5>
            </ng-template>
            <ng-template pTemplate="icons">
                <!-- {{'global.field.id' | translate}} : {{partyRole.id}} -->
                <ul class="nav justify-content-end">
                    <li class="nav-item" *ngFor="let task of (tasks$ | async)">
                        <a class="btn" (click)="processTask(task)" style="cursor: pointer;" tooltip="{{task.description}}" *ngIf="!readOnly()">
                            <span><fa-icon [icon]="task.icon"></fa-icon> &nbsp;{{task.caption}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" (click)="save()" href="javascript:void(0)" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Back and save current data" *ngIf="!readOnly()">
                            <span><fa-icon icon="save"></fa-icon> &nbsp;{{'entity.action.save' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" (click)="previousState()" style="cursor: pointer;"  aria-disabled="isSaving" tooltip="Back, cancel save">
                            <span><fa-icon icon="arrow-left"></fa-icon> &nbsp;{{'entity.action.back' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </ng-template>
            <div class="card-deck" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-block">
                        <div>
                            <div class="form-group" [hidden]="!item.id">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.partyRole.fromDate" for="field_fromDate">From Date</label>
                                <div class="input-group">
                                    <p-calendar inputId="field_fromDate" name="input_fromDate" [(ngModel)]="item.fromDate"
                                        dateFormat="dd-mm-yy" [showTime]="false" hourFormat="24" [showSeconds]="true"
                                        [showIcon]="true" [hideOnDateTimeSelect]="true" [disabled]="readOnly()"></p-calendar>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="losgwApp.partyRole.thruDate" for="field_thruDate">Thru Date</label>
                                <div class="input-group">
                                    <p-calendar inputId="field_thruDate" name="input_thruDate" [(ngModel)]="item.thruDate"
                                        dateFormat="dd-mm-yy" [showTime]="false" hourFormat="24" [showSeconds]="true"
                                        [showIcon]="true" [hideOnDateTimeSelect]="true" [disabled]="readOnly()"></p-calendar>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <label jhiTranslate="losgwApp.partyRole.role" for="field_role">Role</label>
                                <select class="form-control" id="field_role" name="role" [(ngModel)]="item.roleId" [disabled]="roleId !== undefined"  [disabled]="readOnly()">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="roleTypeOption.id" *ngFor="let roleTypeOption of roletypes; trackBy: trackRoleTypeById">{{roleTypeOption.description}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label jhiTranslate="losgwApp.partyRole.party" for="field_party">Party</label>
                                <select class="form-control" id="field_party" name="party" [(ngModel)]="item.partyId" [disabled]="partyId !== undefined"  [disabled]="readOnly()">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="partyOption.id" *ngFor="let partyOption of parties; trackBy: trackPartyById">{{partyOption.name}}</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </p-panel>
    </form>
</div>
