<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.productCategoryType.home.viewLabel">Product Category Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.productCategoryType.detail.title">Product Category Type</span> {{productCategoryType.id}}
        </p-header>
        <jhi-product-category-type-view [item]="productCategoryType" mode="item">
        </jhi-product-category-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-category-type', productCategoryType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
