<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.financialProduct.home.viewLabel">Financial Products</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.financialProduct.detail.title">Financial Product</span> {{financialProduct.id}}
        </p-header>
        <jhi-financial-product-view [item]="financialProduct" mode="item">
        </jhi-financial-product-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/financial-product', financialProduct.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
