<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.billingType.home.viewLabel">Billing Types</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.billingType.detail.title">Billing Type</span> {{billingType.id}}
        </p-header>
        <jhi-billing-type-view [item]="billingType" mode="item">
        </jhi-billing-type-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-type', billingType.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
