<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.paymentApplication.home.title">Payment Applications</span>
    </h5>
    <p-table
        [value]="paymentApplications"
        dataKey="id"
        [paginator]="true"
        [rows]="20"
        [rowsPerPageOptions]="rowsPerPage"
        [first]="first"
        [totalRecords]="totalItems"
        [loading]="loading"
        [rowHover]="true"
        [lazy]="true"
        [rowTrackBy]="trackId"
        [responsive]="true"
        [stateKey]="'paymentApplications_grid_state'"
        (onLazyLoad)="loadDataLazy($event)"
        (onPage)="pageSizeChanged($event)">

        <ng-template pTemplate="caption">
            <ul class="nav justify-content-end">
                <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
                    <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
                        <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
                    </a>
                </li>
            </ul>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 60px; text-align: center;"><span jhiTranslate="global.field.sequence">No</span></th>
                <th style="width: 130px; text-align: center;"><span jhiTranslate="global.field.id">ID</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.paymentApplication.amountApplied">Amount Applied</span></th>
                <th style="text-align: right; width: 100px;"><span jhiTranslate="losgwApp.paymentApplication.amountBase">Amount Base</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.paymentApplication.payment">Payment</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.paymentApplication.billing">Billing</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.paymentApplication.billingItem">Billing Item</span></th>
                <th style="width: 140px; text-align: center;"><span jhiTranslate="global.field.action">Action</span></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: right;">{{rowIndex + 1}}</td>
                <td style="text-align: left; width: 120px;">{{rowData.id}}</td>
                <td style="text-align: right;">{{rowData.amountApplied | number}}</td>
                <td style="text-align: right;">{{rowData.amountBase | number}}</td>
                <td>
                    <div *ngIf="rowData.paymentId">
                        <a [routerLink]="['../payment', rowData.paymentId , 'view' ]" >{{rowData.paymentPaymentNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.billingId">
                        <a [routerLink]="['../billing', rowData.billingId , 'view' ]" >{{rowData.billingBillingNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.billingItemId">
                        <a [routerLink]="['../billing-item', rowData.billingItemId , 'view' ]" >{{rowData.billingItemId}}</a>
                    </div>
                </td>
                <td style="text-align: center;">
                    <button pButton type="submit"
                        [routerLink]="['/payment-application', rowData.id, 'view' ]"
                        class="flat-button">
                        <fa-icon icon="eye"></fa-icon>
                    </button>
                    <button pButton type="submit"
                        [routerLink]="['/payment-application', rowData.id, 'edit']"
                        class="flat-button">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button"
                        (click)="deleteItem(rowData.id)"
                        class="flat-button">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
