<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.financingRequest.home.viewLabel">Financing Requests</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.financingRequest.detail.title">Financing Request</span> {{financingRequest.id}}
        </p-header>
        <jhi-financing-request-view [item]="financingRequest" mode="item">
        </jhi-financing-request-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/financing-request', financingRequest.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
