<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.acctgTrans.home.viewLabel">Acctg Trans</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.acctgTrans.detail.title">Acctg Trans</span> {{acctgTrans.id}}
        </p-header>
        <jhi-acctg-trans-view [item]="acctgTrans" mode="item">
        </jhi-acctg-trans-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acctg-trans', acctgTrans.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
