<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.billingItemTypeMap.home.viewLabel">Billing Item Type Maps</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.billingItemTypeMap.detail.title">Billing Item Type Map</span> {{billingItemTypeMap.id}}
        </p-header>
        <jhi-billing-item-type-map-view [item]="billingItemTypeMap" mode="item">
        </jhi-billing-item-type-map-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-item-type-map', billingItemTypeMap.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
