<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.partyCategory.home.viewLabel">Party Categories</span>
    </h5>
    <p-panel>
        <p-header>
            <span jhiTranslate="losgwApp.partyCategory.detail.title">Party Category</span> {{partyCategory.id}}
        </p-header>
        <jhi-party-category-view [item]="partyCategory" mode="item">
        </jhi-party-category-view>
        <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party-category', partyCategory.id, 'edit']"
                    class="btn-info flat-style-button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </p-footer>
    </p-panel>
</div>
