<div class="page-view">
    <h5 class="page-heading">
        <span jhiTranslate="losgwApp.partyCategory.home.title">Party Categories</span>
    </h5>
    <p-table
        [value]="partyCategories"
        dataKey="id"
        [paginator]="true"
        [rows]="20"
        [rowsPerPageOptions]="rowsPerPage"
        [first]="first"
        [totalRecords]="totalItems"
        [loading]="loading"
        [rowHover]="true"
        [lazy]="true"
        [rowTrackBy]="trackId"
        [responsive]="true"
        [stateKey]="'partyCategories_grid_state'"
        (onLazyLoad)="loadDataLazy($event)"
        (onPage)="pageSizeChanged($event)">

        <ng-template pTemplate="caption">
            <ul class="nav justify-content-end">
                <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                    <span>
                        <a class="btn" href="javascript:void(0)" style="cursor: pointer;" tooltip="Upload File">
                            <fa-icon icon="upload"></fa-icon>
                            <label for="fileInput" style="cursor: pointer;"> &nbsp;&nbsp;{{ 'entity.action.loadFile' | translate }}</label>
                            <input id="fileInput" type="file" (change)="onUploadFile($event)" multiple="false"
                                accept="application/vnd.ms-excel" style="display: none" #inputFile/>
                        </a>
                    </span>
                </li>
                <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                    <a class="btn" (click)="downloadFile('partyCategory.xls')" href="javascript:void(0)" style="cursor: pointer;" tooltip="Download File">
                        <span><fa-icon icon="download"></fa-icon> &nbsp;{{ 'entity.action.downloadFile' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
                    <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
                        <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
                    </a>
                </li>
            </ul>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 60px; text-align: center;"><span jhiTranslate="global.field.sequence">No</span></th>
                <th style="width: 130px; text-align: center;"><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="losgwApp.partyCategory.description">Description</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.partyCategory.categoryType">Category Type</span></th>
                <th style="text-align: left;"><span jhiTranslate="losgwApp.partyCategory.parent">Parent</span></th>
                <th style="width: 140px; text-align: center;"><span jhiTranslate="global.field.action">Action</span></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: right;">{{rowIndex + 1}}</td>
                <td style="text-align: left; width: 120px;">{{rowData.id}}</td>
                <td>{{rowData.description}}</td>
                <td>
                    <div *ngIf="rowData.categoryTypeId">
                        <a [routerLink]="['../party-category-type', rowData.categoryTypeId , 'view' ]" >{{rowData.categoryTypeDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rowData.parentId">
                        <a [routerLink]="['../party-category', rowData.parentId , 'view' ]" >{{rowData.parentDescription}}</a>
                    </div>
                </td>
                <td style="text-align: center;">
                    <button pButton type="submit"
                        [routerLink]="['/party-category', rowData.id, 'view' ]"
                        class="flat-button">
                        <fa-icon icon="eye"></fa-icon>
                    </button>
                    <button pButton type="submit"
                        [routerLink]="['/party-category', rowData.id, 'edit']"
                        class="flat-button">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button"
                        (click)="deleteItem(rowData.id)"
                        class="flat-button">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
